<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dev.lam.User.UserDAO">
	<insert id="add" parameterType="org.dev.lam.User.UserVO">		
		INSERT INTO member (id, pwd, enabled, authority, email) 
		VALUES(#{id},#{pwd},#{enabled},#{authority},#{email})
	</insert>	
	
	<select id="getUser" resultType="org.dev.lam.User.UserVO">
		SELECT * FROM member WHERE id= #{id}
	</select>
	
	<select id="chkId" resultType="Integer">
		SELECT count(*) FROM member WHERE id= #{id}
	</select>
	
	<select id="getInfo" resultType="org.dev.lam.User.UserVO">
		SELECT * FROM member WHERE id= #{id}
	</select>
	
	<update id="drop">
		UPDATE member SET enabled = 0 WHERE id = #{id}
	</update>
	
	<update id="modiPwd"  parameterType="org.dev.lam.User.UserVO">
		UPDATE member SET pwd = #{pwd} WHERE id = #{id}
	</update>
	
	<update id="modiEmail"  parameterType="org.dev.lam.User.UserVO">
		UPDATE member SET email = #{email} WHERE id = #{id}
	</update>	
	
	<select id="searchId"  resultType="org.dev.lam.User.UserVO">
		SELECT id FROM member WHERE email = #{email} and enabled=1
	</select>		
	
	<update id="change"  parameterType="org.dev.lam.User.UserVO">
		UPDATE member SET pwd = #{pwd} WHERE id = #{id}
	</update>
	
	<select id="searchEmail" resultType="Integer">
		SELECT count(*) FROM member WHERE id= #{id} AND email = #{email}
	</select>	
	
</mapper>